In [3]:
from sklearn.datasets import fetch_california_housing
import pandas as pd
cal=fetch_california_housing()

In [5]:
housing=pd.DataFrame(cal.data,columns=cal.feature_names)
housing["target"]=cal.target

In [6]:
housing.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [8]:
housing.drop(["Latitude","Longitude"],axis=1,inplace=True)

In [9]:
housing.head()

   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  target
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556   4.526
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842   3.585
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260   3.521
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945   3.413
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467   3.422

In [10]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [12]:
import numpy as np
housing_np=scaler.fit_transform(housing)
housing_np

array([[ 2.34476576,  0.98214266,  0.62855945, ..., -0.9744286 ,
        -0.04959654,  2.12963148],
       [ 2.33223796, -0.60701891,  0.32704136, ...,  0.86143887,
        -0.09251223,  1.31415614],
       [ 1.7826994 ,  1.85618152,  1.15562047, ..., -0.82077735,
        -0.02584253,  1.25869341],
       ...,
       [-1.14259331, -0.92485123, -0.09031802, ..., -0.3695372 ,
        -0.0717345 , -0.99274649],
       [-1.05458292, -0.84539315, -0.04021111, ..., -0.60442933,
        -0.09122515, -1.05860847],
       [-0.78012947, -1.00430931, -0.07044252, ..., -0.03397701,
        -0.04368215, -1.01787803]])

In [13]:
housing_df=pd.DataFrame(housing_np,columns=housing.columns)

In [15]:

housing_df.drop("AveBedrms",axis=1,inplace=True)

In [16]:
housing_df.head()

     MedInc  HouseAge  AveRooms  Population  AveOccup    target
0  2.344766  0.982143  0.628559   -0.974429 -0.049597  2.129631
1  2.332238 -0.607019  0.327041    0.861439 -0.092512  1.314156
2  1.782699  1.856182  1.155620   -0.820777 -0.025843  1.258693
3  0.932968  1.856182  0.156966   -0.766028 -0.050329  1.165100
4 -0.012881  1.856182  0.344711   -0.759847 -0.085616  1.172900

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(housing_df.drop("target",axis=1),housing_df.target,test_size=0.3,random_state=100)

In [18]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((14448, 5), (6192, 5), (14448,), (6192,))

In [44]:
from sklearn.linear_model import Ridge
model=Ridge(alpha=0.5)

In [45]:
model.get_params()

{'alpha': 0.5,
 'copy_X': True,
 'fit_intercept': True,
 'max_iter': None,
 'positive': False,
 'random_state': None,
 'solver': 'auto',
 'tol': 0.0001}

In [46]:
model.fit(X_train,y_train)

Ridge(alpha=0.5)

In [47]:
model.score(X_test,y_test)

0.5282406793804024

In [48]:
y_pred=model.predict(X_test)

In [43]:
from sklearn.metrics import r2_score,mean_squared_error

In [49]:
r2_score(y_test,y_pred)

0.5282406793804024

In [50]:
mean_squared_error(y_test,y_pred)

0.4692457815146595